body {
    height: 100vh;
    margin: 0;
    padding: 0;
}


.container {
    background-image: url(https://premiumbpthemes.com/images/clipart-camera-square-8.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 34% 50%;
    display: grid;
    grid-template-columns: 46% 50%;
}

.AppTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    height: 90vh;
    align-items: center;
}

.formContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: self-end;
    /* margin-top: 104px;
    margin-bottom: 80px; */
    margin-top: 89px;
    margin-bottom: 63px;
}


.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
    background-color: #5BB2B1;
    /* margin-top: 104px;
    margin-bottom: 80px; */
    /* z-index: 6; */
}
.information{
    width: 50%;
}

.loginBtn,
.signBtn {
    /* border-radius: 100px; */
    padding: 6px 16px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    position: relative;
    margin-top: 20px;
    width: 100%;
}

.signBtn:hover,
.loginBtn:hover {
    background-color: rgb(54, 21, 43);
    color: white;
}

.login {
    color: currentColor;
    width: 100%;
    border: 2;
    border-color: #36152b;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    background: none;
    text-align: center;
}

.signInicon {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    /* margin: -30% 0% 25% 30%; */
}

#lock {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    /* border: 0px solid #36152b;
    border-radius: 0%; */
    font-size: 25px;
    margin-left: 30px;
    ;
}

#signinLogo {
text-align: center;
}
::placeholder{
    color: white;
    font-size: 12px;
  }
@media screen and (max-width: 890px) {
    .container {
        display: flex;
        background-position: 50% 50%;
        background-size: 83%;
    }
    .form {
        width: 50%
    }
    .formContainer{
        width: 100%;
        justify-content: center;
    }
    .information {
        width: 70%; 

    }
} 