 .pictureDisplay{
   border: 1px black solid;
   margin: 20px;
}
/* #homepage{
    width: 100%;
    position: relative;

}  */
/* .likes{
    margin-left: 20px;
} */
/* .root{
    text-align: start;
} */
/* #homepage{
    display: inline-flex;
    flex-wrap: wrap;
} */

