/* #root{
  background-color: #5BB2B1;
} */
#homepage{
  margin-top: 10%;
  width: 90%;
  /* border: 3px solid #73AD21; */
  background-color: white;
} 

.welcomeDiv {
  margin-left: 22%;

} 

.my-gallery-class{
  margin: auto;
    width: 90%;
    /* background-color: #5BB2B1; */
    background-color: #5BB2B1;
}
img:hover{
  z-index: -999;
}
::placeholder{
  color: black;
  font-size: 12px;
  text-align: center

}
/* img{
  margin-top: -16px;
} */
/* .likes{
    margin-left: 20px;
} */
/* .root{
    text-align: start;
} */
/* #homepage{
    display: inline-flex;
    flex-wrap: wrap;
} */
@media only screen and (max-width: 700px){
img{
  height: 300px;
  width: 300px;

}
#homepage{
  margin: auto;
  width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
} 
#pictures{
  align-content: center;
}
.my-gallery-class{
  margin: auto;
    width: 67%;
}
}
 /* @media only screen and (max-width: 990px){
   img{
     height: 400px;
   width: 500px;
    
  } 

  #homepage{
    margin: auto;
    width: 100%;
      display: inline-flex;
      flex-wrap: wrap;
      text-align: center;
  } 
  #pictures{
    align-content: center;
  }
  .my-gallery-class{
    margin: auto;
      width: 67%;
  }
  } */