/* .fa-heart{
    margin-left: -20px;
} */
#heart{
    color: red;

}
.heart{
    display: inline-block;
}
#comment{
    display: inline-block;
}
.interaction{
    color: rgba(0, 0, 0, 0);
    position: absolute;
    visibility: visible;
    bottom: 52px;
    top: 0;
    left: 0;
    right: 0;
}
.interaction:hover{
    /* background-color: greenyellow; */
    /* margin-top: -4px; */
    display: visible;
        position: absolute;
        bottom: 52px;
        top:0;
        left: 0;
        right: 0;
        background: rgb(0, 0, 0); /* Fallback color */
        background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
        color: #f1f1f1;
        width: 100%;
        text-align: center;
    font-size: 35px;
    /* margin: auto; */
    position: absolute;
}
.interaction p{
    position: absolute;
    top: 25%;
    left: 50%;
}